.iconColor{
    color: white;
    margin-right: 5px;
    margin-top: 3px;
}

.iconjumbo{
    /* display: inline; */
    color: black;
}

.myjumbo{
    padding: 60px;
}

.mythumbnail{
    padding: 2px;
}

